<style >
  h1{text-align: center;font-family: bold;}
  th{text-align: center;}
  transition-duration: {text-align: center;}
</style>
<p id="notice"><%= notice %></p>

<h1>Booking Details</h1>
<div align="center">
  <%= link_to 'Back',users_path(@users), class:'btn btn-default' %>
</div><br>
<table class="table table-striped table-bordered ">
  <thead>
    <tr>
      <th>S No</th>
      <th>PNR No</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Issued date</th>
      <th>Travel date</th>
      <th>Issued by</th>
      <th>Is canceled</th>
      <th>Service Name</th>
      <th>Total fare</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each_with_index do |booking,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= booking.pnr_no %></td>
        <td><%= booking.origin %></td>
        <td><%= booking.destination %></td>
        <td><%= booking.issued_date %></td>
        <td><%= booking.travel_date %></td>
        <td><%= booking.user.first_name %></td>
        <td><%= booking.is_canceled %></td>
        <td><%= booking.route.service_name %></td>
        <td><%= booking.total_fare %></td>
        <%if @user.present? %>
          <td><%= link_to 'Show', user_booking_path(@user,booking), class:'btn btn-default' %>
              <%= link_to 'Delete', user_booking_path(@user,booking), class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>
          <td><%= link_to 'Show', booking_path(booking), class:'btn btn-default' %>
              <%= link_to 'Delete', booking_path(booking), class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  