<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @reservation.route_id %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @reservation.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @reservation.destination %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @reservation.departure_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @reservation.duration %>
</p>

<p>
  <strong>Boarding point:</strong>
  <%= @reservation.boarding_point %>
</p>

<p>
  <strong>Dropping point:</strong>
  <%= @reservation.dropping_point %>
</p>

<p>
  <strong>Travel date:</strong>
  <%= @reservation.travel_date %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
