<%= form_with(model: route, local: true) do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_name %>
    <%= form.text_field :service_name %>
  </div>

  <div class="field">
    <%= form.label :service_num %>
    <%= form.text_field :service_num %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :total_seats %>
    <%= form.number_field :total_seats %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="field">
    <%= form.label :bording_point %>
    <%= form.text_field :bording_point %>
  </div>

  <div class="field">
    <%= form.label :dropping_point %>
    <%= form.text_field :dropping_point %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
